.splash {
  position: fixed;
  inset: 0;
  z-index: 9999;
  animation: splashFadeOut 0.8s ease forwards;
  animation-delay: 1.6s;
}

.splash-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splash-overlay {
  position: absolute;
  inset: 0;
  background: rgba(245, 241, 233, 0.5);
  backdrop-filter: blur(4px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-logo {
  width: 240px;
  animation: logoIn 2s ease forwards;
}

/* ANIMATIONS */

@keyframes logoIn {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes splashFadeOut {
  to {
    opacity: 0;
    pointer-events: none;
  }
}
